@model Matrix.ViewModels.RegisterViewModel
@inject ICustomLocalizer Localizer
@{
    ViewData["Title"] = Localizer["RegisterTitle"];
    Layout = "~/Views/Shared/_AuthLayout.cshtml";

    var userNamePlaceholder = Localizer["UserNamePlaceholder"];
    var emailPlaceholder = Localizer["EmailPlaceholder"];
    var passwordPlaceholder = Localizer["PasswordPlaceholder"];
    var confirmPasswordPlaceholder = Localizer["ConfirmPasswordPlaceholder"];
}

<div id="auth-body">
    <div id="auth-form">
        <div id="mock"></div>
        <form method="POST" class="w-4/5 2xl:w-3/4 lg:w-1/2" v-on:submit="submitForm">
            @Html.AntiForgeryToken()
            <h1>@ViewData["Title"]</h1>
            <p class="text-center subTitle">@Localizer["WelcomeMsg"]</p>

            @* 用戶名 *@
            <div class="input-item">
                <label for="UserName" class="subTitle">@Localizer["UserNameLabel"]</label>
                <input type="text" asp-for="UserName" placeholder="@userNamePlaceholder">
                <p data-valmsg-for="UserName" class="text-red-400 para"></p>
            </div>

            @* 信箱 *@
            <div class="input-item">
                <label for="Email" class="subTitle">@Localizer["EmailLabel"]</label>
                <input type="text" asp-for="Email" placeholder="@emailPlaceholder">
                <p data-valmsg-for="Email" class="text-red-400 para"></p>
            </div>

            @* 密碼 *@
            <div class="input-item">
                <label for="Password" class="subTitle">@Localizer["PasswordLabel"]</label>
                <div class="input-item_pwd">
                    <input :type="showPassword ? 'text' : 'password'" asp-for="Password"
                        placeholder="@passwordPlaceholder">
                    <button v-if="!showPassword" type="button" v-on:click="togglePasswordVisibility">
                        <i data-lucide="eye-closed" class="text-secondary subTitle"></i>
                    </button>
                    <button v-else type="button" v-on:click="togglePasswordVisibility">
                        <i data-lucide="eye" class="text-secondary subTitle"></i>
                    </button>
                </div>
                <p data-valmsg-for="Password" class="text-red-400 para"></p>
            </div>

            @* 確認密碼 *@
            <div class="input-item">
                <label for="ConfirmPassword" class="subTitle">@Localizer["ConfirmPasswordLabel"]</label>
                <div class="input-item_pwd">
                    <input :type="showConfirmPassword ? 'text' : 'password'" asp-for="PasswordConfirm"
                        placeholder="@confirmPasswordPlaceholder">
                    <button v-if="!showConfirmPassword" type="button" v-on:click="toggleConfirmPasswordVisibility">
                        <i data-lucide="eye-closed" class="text-secondary subTitle"></i>
                    </button>
                    <button v-else type="button" v-on:click="toggleConfirmPasswordVisibility">
                        <i data-lucide="eye" class="text-secondary subTitle"></i>
                    </button>
                </div>
                <p data-valmsg-for="PasswordConfirm" class="text-red-400 para"></p>
            </div>

            @* 註冊按鈕 *@
            <button type="submit" class="auth-btn subTitle py-2" :disabled="isSubmitting">
                <span v-if="isSubmitting" class="loading loading-dots loading-xl text-white"></span>
                <span v-else>@Localizer["SubmitBtn"]</span>
            </button>

            @* 已有帳號 *@
            <p class="para text-center">@Localizer["hasAccountMsg"] <a href="/login"
                    class="font-semibold">@Localizer["LoginTitle"]</a></p>
        </form>
    </div>
</div>


@section Scripts {
    <script src="~/js/auth/register-event.js" asp-append-version="true"></script>
}