@inject ICustomLocalizer Localizer
@inject Microsoft.Extensions.Options.IOptions<GoogleSmtpDTOs> GoogleSmtpOptions
@{
    var List = new[]{
        new { title = "Disclaimer", icon = "scroll-text", controller = "Disclaimer", href = ""},
        new { title = "ContactUs", icon = "headset", controller = "", href = GoogleSmtpOptions.Value.SenderEmail },
        new { title = "About", icon = "person-standing", controller = "About", href = "" },
    };
}

<footer id="footer" class="footer sm:footer-horizontal text-white p-10 rounded-[30px] bg-accent">
    <div class="flex justify-between w-full">
        <div class="flex flex-col gap-4">
            <div class="flex gap-4 items-center">
                <img src="~/static/img/Matrix_logo_white.png" alt="Matrix" class="icon-lg">
                <p class="text-3xl">Matrix™</p>
            </div>
            <p>@Localizer["Providing reliable tech since 2025"]</p>
        </div>
        <ul class="grid grid-cols-3 gap-8 items-center">
            @foreach (var i in List){
                <li>
                    @if (i.controller != ""){
                        <a asp-area="" asp-controller="@i.controller" asp-action="Index" aria-current="page" class="flex items-center gap-2">
                            <div class="flex items-center justify-center p-2 bg-white rounded-full">
                                <i data-lucide="@i.icon" class="size-5 text-secondary"></i>
                            </div>
                            <span class="title" data-i18n="@i.title">@Localizer[@i.title]</span>
                        </a>
                    } else {
                        <a class="flex items-center gap-2" href="mailto:@i.href">
                            <div class="flex items-center justify-center p-2 bg-white rounded-full">
                                <i data-lucide="@i.icon" class="size-5 text-secondary"></i>
                            </div>
                            <span class="title" data-i18n="@i.title">@Localizer[@i.title]</span>
                        </a>
                    }
                </li>
            }
        </ul>
    </div>
</footer>