@using Microsoft.Extensions.Localization;
@inject IStringLocalizerFactory LocalizerFactory
@{
    var Localizer = LocalizerFactory.Create("Views.Common.Menu", "Matrix");
}
@{
    var menus = new[]
    {
        new { title = Localizer["Search"], icon = "search", func = "" },
        new { title = Localizer["Notify"], icon = "bell", func = "" },
        new { title = Localizer["Follows"], icon = "share-2", func = "" },
        new { title = Localizer["Collects"], icon = "bookmark", func = "" },
    };

    var bottoms = new[]
    {
        new { title = Localizer["Language"], icon = "languages", click="toggleLang" },
        new { title = Localizer["HideBar"], icon = "panel-right-open", click="toggleSidebar" },
        new { title = Localizer["Login"], icon = "log-in", click="" },
        new { title = Localizer["LogOut"], icon = "log-out", click="" },
    };
}

<aside id="sidebar-app" class="top-0 left-0 p-4 h-screen">
    <ul :class="isCollapsed ? 'sidebar-close' : 'sidebar-open'" class="sidebar">
        <!-- Sidebar content here -->
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index" aria-current="page"
                class="cts-btn hover:bg-gray-900 title"
            >
                <img src="~/static/img/Matrix_logo_white.png" alt="Matrix Logo" class="icon-lg">
                <span>@Localizer["Matrix"]</span>
            </a>
        </li>
        <li>
            @foreach (var i in menus)
            {
                <button class="cts-btn hover:bg-gray-900">
                    <i data-lucide="@i.icon" class="icon-base text-white"></i>
                    <span class="title">@i.title</span>
                </button>
            }
        </li>
        <li>
            @foreach (var i in bottoms) {
                <button v-on:click="@i.click" :class="isCollapsed ? 'sidebar-btn-none-text' : ''"
                    class="cts-btn hover:bg-gray-200"
                >
                    <i data-lucide="@i.icon" class="icon-base"></i>
                    <span class="title">@i.title</span>
                </button>
            }
            <a asp-area="" asp-controller="Login" asp-action="Index" aria-current="page"
                class="cts-btn hover:bg-gray-200"
            >
                <i data-lucide="log-in" class="icon-base"></i>
                <span class="title">@Localizer["Login"]</span>
            </a>
        </li>
    </ul>
</aside>