@{
    var menus = new[]
    {
        new { title = "Search", icon = "search", func = "" },
        new { title = "Notify", icon = "bell", func = "" },
        new { title = "Follows", icon = "share-2", func = "" },
        new { title = "Collects", icon = "bookmark", func = "" },
    };

    var bottoms = new[]
    {
        new { title = "Hide bar", icon = "panel-right-open", click="toggleSidebar" },
        new { title = "Log out", icon = "log-out", click="" }
    };
}

<aside id="sidebar-app" class="top-0 left-0 h-screen p-4">
    <ul :class="isCollapsed ? 'sidebar-close' : 'sidebar-open'" class="sidebar">
        <!-- Sidebar content here -->
        <li>
            <a asp-area="" asp-controller="Home" asp-action="Index" aria-current="page"
                class="cts-btn title hover:bg-gray-900"
            >
                <img src="~/static/img/Matrix_logo_white.png" alt="Matrix Logo" class="icon-lg">
                <span>Matrix</span>
            </a>
            <a asp-area="" asp-controller="Login" asp-action="Index" aria-current="page"
                class="cts-btn title hover:bg-gray-900"
            >
                <i data-lucide="plus"
                    class="icon-lg text-secondary flex items-center justify-center overflow-hidden rounded-full bg-white p-1"
                ></i>
                <span>Login</span>
            </a>
        </li>
        <li>
            @foreach (var i in menus)
            {
                var isCollect = i.title == "Collects";
                var onclick = isCollect ? "openCollectModal()" : "";

                <button class="cts-btn hover:bg-gray-900" onclick="@onclick">
                    <i data-lucide="@i.icon" class="icon-base text-white"></i>
                    <span class="title">@i.title</span>
                </button>
            }
        </li>
        <li>
            @foreach (var i in bottoms) {
                <button v-on:click="@i.click" :class="isCollapsed ? 'sidebar-btn-none-text' : ''"
                    class="cts-btn hover:bg-gray-200"
                >
                    <i data-lucide="@i.icon" class="icon-base"></i>
                    <span class="title">@i.title</span>
                </button>
            }
        </li>
    </ul>
</aside>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        if (typeof Vue !== 'undefined') {
            const { createApp, ref, onMounted } = Vue;
            
            createApp({
                setup() {
                    const isCollapsed = ref(false);

                    onMounted(() => lucide.createIcons())
                    const toggleSidebar = async () => {
                        isCollapsed.value = !isCollapsed.value;
                        // 等待 DOM 更新後重新初始化圖標
                        lucide.createIcons();
                    };

                    return {
                        isCollapsed,
                        toggleSidebar
                    };
                }
            }).mount('#sidebar-app');
        } else {
            console.error('Vue is not loaded');
        }
    })
</script>
