@using Matrix.Extensions
@using Matrix.Services
@model Matrix.ViewModels.MenuViewModel
@inject ICustomLocalizer Localizer

<aside id="sidebar-app" class="top-0 left-0 p-4 h-screen">
    <ul :class="isCollapsed ? 'sidebar-close' : 'sidebar-open'" class="sidebar">
        <!-- Sidebar content here -->
        <li>
            <a asp-controller="Home" asp-action="Index" aria-current="page" class="cts-btn title">
                <img src="~/static/img/Matrix_logo_white.png" alt="Matrix Logo" class="icon-lg">
                <span data-i18n="Matrix">@Localizer["Matrix"]</span>
            </a>
            @if (Model.IsAuthenticated) {
                <a asp-controller="Profile" asp-action="Index" aria-current="page" asp-route-id="@Model.UserId" class="cts-btn">
                    <img src="@Model.UserImg" alt="" class="icon-lg object-cover object-center border-2 border-white" />
                    <span class="title">@Model.UserName</span>
                </a>
            }
        </li>
        <li>
            @foreach (var i in Model.Menus)
            {
                <button class="cts-btn hover:bg-gray-900" v-on:click="openPopup('@i.Title')">
                    <i data-lucide="@i.Icon" class="icon-base text-white"></i>
                    <span class="title" data-i18n="@i.Title">@Localizer[i.Title]</span>
                </button>
            }
        </li>
        <li>
            @if (Model.UserRole >= 1) {
                <a asp-area="Dashboard" asp-controller="Overview" asp-action="Index" aria-current="page">
                    <button :class="isCollapsed ? 'sidebar-btn-none-text' : ''" class="cts-btn">
                        <i data-lucide="layout-dashboard" class="icon-base"></i>
                        <span data-i18n="Dashboard" class="title">@Localizer["Dashboard"]</span>
                    </button>
                </a>
            }
            @foreach (var i in Model.Bottoms) {
                <button v-on:click="handleMenuClick('@i.Click')" :class="isCollapsed ? 'sidebar-btn-none-text' : ''" class="cts-btn">
                    <i data-lucide="@i.Icon" class="icon-base"></i>
                    <span class="title" data-i18n="@i.Title">@Localizer[i.Title]</span>
                </button>
            }
        </li>
    </ul>
</aside>
