@inject ICustomLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Users_Title"];
}

<div id="adminUser" class="grid h-full w-full grid-cols-4 gap-4">
    <h2 class="col-span-4 text-5xl font-bold text-gray-700" data-i18n="Users_Title">@Localizer["Users_Title"]</h2>
    <!-- 左側欄 -->
    <aside class="col-span-1 flex flex-col gap-8 border-r border-gray-200 bg-white p-8">
        <div class="flex justify-end gap-4">
            <div class="relative w-full">
                <input type="text" data-i18n-placeholder="Users_SearchUserPlaceholder"
                    class="w-full rounded border bg-gray-50 px-3 py-2 focus:ring-2 focus:ring-blue-200 focus:outline-none"
                    v-model="nameFilterInput" @@keyup.enter="applyNameFilter">
                <button @@click="applyNameFilter" class="absolute top-1/2 right-4 -translate-y-1/2 cursor-pointer">
                    <i data-lucide="search" class="icon-base"></i>
                </button>
            </div>
        </div>
        <div class="flex w-full flex-col items-center sm:flex-row sm:items-center sm:justify-between">
            <!-- 左側文字 -->
            <label class="font-medium text-gray-700 sm:whitespace-nowrap"
                data-i18n="Users_Status">@Localizer["Users_Status"]</label>

            <!-- Enable,Disable按鈕 -->
            <div class="flex w-full gap-2 sm:w-auto">
                <button data-i18n="Users_Enable" @@click="toggleStatus(1)"
                    :class="['w-full cursor-pointer rounded px-3 py-2 text-sm font-semibold sm:w-auto sm:px-4 sm:py-1 sm:text-base',
                    statusFilter === 1 ? 'bg-blue-500 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-600 hover:bg-gray-300']">
                    @Localizer["Users_Enable"]
                </button>
                <button data-i18n="Users_Disable" @@click="toggleStatus(0)"
                    :class="['w-full cursor-pointer rounded px-4 py-1 font-semibold shadow sm:w-auto',
                    statusFilter === 0 ? 'bg-blue-500 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-600 hover:bg-gray-300']">
                    @Localizer["Users_Disable"]
                </button>
            </div>
        </div>
        <div class="mt-3 flex w-full flex-col gap-2 sm:flex-row sm:items-center sm:justify-between">
            <!-- 左側文字 -->
            <label data-i18n="Users_Ban"
                class="font-medium text-gray-700 sm:whitespace-nowrap">@Localizer["Users_Ban"]</label>

            <!-- YES / NO 按鈕 -->
            <div class="flex w-full gap-2 sm:w-auto">
                <button data-i18n="Users_Yes" @@click="toggleBanned(true)"
                    :class="['w-full cursor-pointer rounded px-8 py-1 text-sm font-semibold shadow sm:w-auto sm:text-base',
                    bannedFilter === true ? 'bg-blue-500 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-600 hover:bg-gray-300']">
                    @Localizer["Users_Yes"]
                </button>
                <button data-i18n="Users_No" @@click="toggleBanned(false)"
                    :class="['w-full cursor-pointer rounded px-8 py-1 text-sm font-semibold shadow sm:w-auto sm:text-base',
                    bannedFilter === false ? 'bg-blue-500 text-white hover:bg-blue-700' : 'bg-gray-200 text-gray-600 hover:bg-gray-300']">
                    @Localizer["Users_No"]
                </button>
            </div>
        </div>
        <div class="flex justify-end gap-4">
            <div class="relative w-full">
                <input type="text" data-i18n-placeholder="Users_SearchDatePlaceholder"
                    class="w-full rounded border bg-gray-50 px-3 py-2 focus:ring-2 focus:ring-blue-200 focus:outline-none"
                    v-model="createDateInput" @@keyup.enter="applyCreateDateFilter">
                <button @@click="applyCreateDateFilter"
                    class="absolute top-1/2 right-4 -translate-y-1/2 cursor-pointer">
                    <i data-lucide="search" class="icon-base"></i>
                </button>
            </div>
        </div>
        <div class="h-40 w-full">
            <calendar-date :value="selectedDate ? formatYMD(selectedDate) : ''" @@change="onCalendarChange"
                class="cally bg-base-100 border-base-300 rounded-box w-full border shadow-lg">
                <svg aria-label="Previous" class="size-4 fill-current text-[#161616]" slot="previous"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="M15.75 19.5 8.25 12l7.5-7.5"></path>
                </svg>
                <svg aria-label="Next" class="size-4 fill-current text-[#161616]" slot="next"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path fill="currentColor" d="m8.25 4.5 7.5 7.5-7.5 7.5"></path>
                </svg>
                <calendar-month></calendar-month>
            </calendar-date>
        </div>

    </aside>
    <!-- 右側主表格 -->
    <main class="col-span-3 h-full p-8">
        <div class="h-full w-full rounded-2xl border border-black/10 bg-yellow-50 p-4">
            <table class="table w-full">
                <thead>
                    <tr>
                        @* <th></th> *@
                        <th data-i18n="Users_Name">@Localizer["Users_Name"]</th>
                        <th data-i18n="Users_RoleText">@Localizer["Users_RoleText"]</th>
                        <th data-i18n="Users_Email">@Localizer["Users_Email"]</th>
                        <th data-i18n="Users_Status">@Localizer["Users_Status"]</th>
                        <th data-i18n="Users_CreateTime">@Localizer["Users_CreateTime"]</th>
                        <th data-i18n="Users_LastLoginTime">@Localizer["Users_LastLoginTime"]</th>
                        <th data-i18n="Users_Edit">@Localizer["Users_Edit"]</th>
                        <th data-i18n="Users_Delete">@Localizer["Users_Delete"]</th>
                    </tr>
                </thead>
                <tbody class="text-[14px]">
                    <tr v-for="(item,idx) in pagedUsers" :key="item.userId">
                        @* <td>{{ (pageIndex - 1) * pageSize + idx + 1 }}</td> *@
                        <td>{{item.userName}}</td>
                        <td>{{roleTextI18n(item)}}</td>
                        <td>{{item.email}}</td>
                        <td>
                            @* <template v-if="editingId === item.userId">
                                <select v-model.number="tempStatus" class="rounded border px-1 py-0">
                                    <option :value="0">{{ t('Status_Disabled') }}</option>
                                    <option :value="1">{{ t('Status_Enabled') }}</option>
                                    <option :value="2">{{ t('Status_Banned') }}</option>
                                </select>
                            </template>
                            <template v-else>
                                {{ statusText(item.status) }}
                            </template> *@

                            <template v-if="editingId === item.userId">
                                <select v-model.number="tempStatus" class="rounded border px-1 py-0">
                                    <option :value="0" data-i18n="Users_Status_Disabled">@Localizer["Users_Status_Disabled"]</option>
                                    <option :value="1" data-i18n="Users_Status_Enabled">@Localizer["Users_Status_Enabled"]</option>
                                    <option :value="2" data-i18n="Users_Status_Banned">@Localizer["Users_Status_Banned"]</option>
                                </select>
                            </template>
                            <template v-else>
                                <span v-if="item.status === 0" data-i18n="Users_Status_Disabled">@Localizer["Users_Status_Disabled"]</span>
                                <span v-else-if="item.status === 1" data-i18n="Users_Status_Enabled">@Localizer["Users_Status_Enabled"]</span>
                                <span v-else-if="item.status === 2" data-i18n="Users_Status_Banned">@Localizer["Users_Status_Banned"]</span>
                            </template>
                        </td>
                        <td>{{formatDate(item.createTime)}}</td>
                        <td>{{formatDate(item.lastLoginTime)}}</td>

                        <!-- 編輯/確定/取消 -->
                        <td class="w-28 text-center">
                            <template v-if="editingId === item.userId">
                                <div class="flex items-center justify-center gap-2">
                                    <button @@click="confirmEdit(item)" :disabled="updating"
                                        class="cursor-pointer rounded bg-green-600 px-2 py-1 text-white hover:bg-green-700 disabled:opacity-50">
                                        update
                                    </button>
                                    <button @@click="cancelEdit" :disabled="updating"
                                        class="cursor-pointer rounded bg-gray-300 px-2 py-1 text-gray-800 hover:bg-gray-400 disabled:opacity-50">
                                        cancel
                                    </button>
                                </div>
                            </template>
                            <template v-else>
                                <button @@click="startEdit(item)"
                                    class="flex cursor-pointer items-center justify-center rounded bg-blue-500 p-1 text-white hover:bg-blue-700">
                                    <!--icon -->
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil">
                                        <path
                                            d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                        <path d="m15 5 4 4" />
                                    </svg>
                                </button>
                            </template>
                        </td>

                        @* <td class="w-12 text-center">
                            <button onclick="updateStatus" class="flex cursor-pointer items-center justify-center rounded bg-blue-500 p-1 text-white hover:bg-blue-700" title="Edit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil-icon lucide-pencil">
                                    <path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z" />
                                    <path d="m15 5 4 4" />
                                </svg>
                            </button>
                        </td> *@
                        <td class="w-12 text-center">
                            <button @@click="deleteUser(item.userId)"
                                class="flex cursor-pointer items-center justify-center rounded bg-red-500 p-1 text-white hover:bg-red-700"
                                title="Delete">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" class="lucide lucide-ban-icon lucide-ban">
                                    <path d="M4.929 4.929 19.07 19.071" />
                                    <circle cx="12" cy="12" r="10" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9">
                            <div class="bg-yellow-50 px-4 py-2">
                                <div class="flex justify-center gap-1">
                                    <button @@click="pageIndex--" :disabled="pageIndex === 1"
                                        class="cursor-pointer rounded px-2 py-1 text-gray-500 hover:bg-gray-200">&laquo;</button>

                                    <button v-for="i in totalPages" :key="i" @@click="pageIndex = i"
                                        :class="['cursor-pointer rounded px-2 py-1 hover:bg-gray-200', pageIndex === i ? 'bg-blue-100 text-blue-700' : 'text-gray-700 hover:bg-gray-200']">
                                        {{ i }}
                                    </button>

                                    <button @@click="pageIndex++" :disabled="pageIndex === totalPages"
                                        class="cursor-pointer rounded px-2 py-1 text-gray-500 hover:bg-gray-200">&raquo;</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </main>
</div>

@section Scripts {
    <script src="~/js/dashboard/pages/users/users.js" asp-append-version="true"></script>
}
