@inject ICustomLocalizer Localizer
@{
    ViewData["Title"] = Localizer["About"];
    var mbs = ViewBag.Teams;
}

<div class="about-container">
    <!-- 主標題區域 -->
    <div class="about-header">
        <h1 class="about-title" data-i18n="About">@Localizer["About"]</h1>
        <div class="about-divider"></div>
    </div>

    <ul class="team-list">
        @foreach (var mb in mbs){
            <li id="team-item" class="team-card group @(mb.index == 0 ? "expanded" : "")">
                <div class="team-img">
                    @if (mb.img != "") {
                        <img src="~/static/teams/@mb.img" />
                    } else {
                        <img src="~/static/img/image-top.png" />
                    }
                    <div class="team-info">
                        <h2 class="team-name text-2xl">@mb.twName</h2>
                        <h3 class="subTitle h-7">@mb.engName</h3>
                        <hr>
                        <h4 class="team-level">@mb.level</h4>
                        <br>
                        <div class="team-links">
                            <a href="mailto:@mb.email" target="_blank" class="team-link">
                                <i data-lucide="mail" class="team-icon"></i>
                            </a>
                            <a href="https://github.com/@mb.github" target="_blank" class="team-link">
                                <i data-lucide="github" class="team-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <section class="team-section grid grid-rows-3">
                    @* <p class="para">@mb.description</p> *@
                    
                    <div class="row-span-1">
                        <h2 class="text-2xl font-bold mb-4">技術 | Skills</h2>
                        <ul class="team-skills">
                            @foreach (var sk in mb.skill) {
                                <li class="team-skill">
                                    <p class="team-skill-text subTitle">@sk</p>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="row-span-2">
                        <h2 class="text-2xl font-bold mb-4">任務 | Works</h2>
                        <div class="team-works_layout">
                            <div class="green-dot"></div>
                            <div class="flex flex-col gap-4 w-full">
                                <ul class="team-works">
                                    @foreach (var wk in mb.works.envs) {
                                        <li class="team-work-item">
                                            <p class="m-0 p-0 para">@wk</p>
                                        </li>
                                    }
                                </ul>
                                <hr>
                                <ul class="team-works">
                                    @foreach (var wk in mb.works.pages) {
                                        <li class="team-work-item">
                                            <p class="m-0 p-0 para">@wk</p>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </li>
        }
    </ul>
</div>